.app-wrapper{
  display: grid;
  grid-template-areas: 
  "nav header"
  "nav main"
  "nav footer";
  grid-template-rows: 70px 1fr 50px;
  grid-template-columns: 245px 1fr;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.app-wrapper-content{
  grid-area: main;
}